
.screen{
  /* display: block;
  margin: 0 auto; */
  text-align: center;
  direction: rtl;
}

select {
  display: block;
  margin: 0 auto;
  }
#name {
  text-align: center;
  direction: rtl;
  width: 18rem;
  padding: 10px;
  font-size: 20px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  padding: 1em;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
